@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans";
  font-size: px;
  line-height: px;
  color: #000000;
  background-color: #f2f2f2;
}

.page-container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);
}

.page-header {
  height: px;
  line-height: px;
  text-align: ;
  width: px;
  margin:
}

.navigation-link {
  color: var (#000000);
  font-size: 0px;
  font-style: normal;
  font-weight: 00;
  line-height: px;
  text-transform: capitalize;
}

.navigation {
  display: ;
  width: px;
}

.navigation-list {
  width: px;
  margin-left: px;
}

.logo {
  background-image: url("../images/logo.svg");
  background-repeat: no-repeat;
}

.welcome {
  background-image: url("../images/index-background.jpg");
  background-repeat: no-repeat;
  text-align: center;
}

.navigation-item .search {
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
}

.navigation-item .favorites {
  background-image: url("../images/heart.svg");
  background-repeat: no-repeat;
  height: ;
  width: ;
}

.divider {
  background-image: url("../images/divider.svg");
  background-repeat: no-repeat;
  height: 0;
  margin-bottom: 0px;
}

.text-sedona {
  margin-top: 64px;
  height: 767px;
  width: 1200px;
}

.logo-living {
  background-image: url("../images/аdvantage-icon.svg");
  background-repeat: no-repeat;
  height: ;
  width: ;
}

.services-item {
  font-family: "PT Sans";
  font-size: 18px;
  line-height: 21px;
  font-weight: 400px;
  text-align: center;
  color: #000000;
  background-color: rgb(140, 193, 213);
  text-decoration: none;
  text-transform: ;
}

.logo-food {
  background-image: url("../images/аdvantage-icon-1.svg");
  background-repeat: no-repeat;
  height: ;
  width: ;
}

.logo-souvenir {
  background-image: url("../images/advantages-icon2.svg");
  background-repeat: no-repeat;
  height: ;
  width: ;
}

.navigation-button-1 {
    background-image: url("../images/view.svg");
    background-repeat: no-repeat;
}

.navigation-button-2 {
    background-image: url("../images/view-1.svg");
    background-repeat: no-repeat;
}

.navigation-button-3 {
    background-image: url("../images/view-2.svg");
    background-repeat: no-repeat;
}

.advantages {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin: 0;
}

.advantages-title {
  margin-top: 0;
  margin-bottom: 28px;
  font-family: "PT Sans";
  font-size: 24px;
  line-height: 28px;
  font-weight: 700px;
  text-transform: uppercase;
}

.advantages-description {
  margin-top: 0;
  margin-bottom: 28px;
  font-family: "PT Sans";
  font-size: 18px;
  line-height: 21px;
  font-weight: 400px;
  text-transform: normal;
}

.advantages-item {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin: 0;
}

.аdvantages-title-living {
  background-image: url("../images/аdvantage-icon.svg");
  background-repeat: no-repeat;
  font-family: "PT Sans";
  font-size: 24px;
  line-height: 28px;
  font-weight: 230px;
  text-transform: uppercase;
}

.аdvantages-title-food {
  background-image: url("../images/аdvantage-icon-1.svg");
  background-repeat: no-repeat;
  font-family: "PT Sans";
  font-size: 24px;
  line-height: 28px;
  font-weight: 230px;
  text-transform: uppercase;
}

.advantages-title-souvenirs {
  background-image: url("../images/advantages-icon2.svg");
  background-repeat: no-repeat;
  font-family: "PT Sans";
  font-size: 24px;
  line-height: 28px;
  font-weight: 230px;
  text-transform: uppercase ;
}

.catalog-list {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  flex-wrap: wrap;
  align-content: stretch;
}

.button {
  font-family: "PT Sans";
  font-size: 16px;
  line-height: 20px;
  font-weight: 700px;
  text-align: center;
  color: #000000;
  background-color: rgb(140, 193, 213);
  text-decoration: none;
  text-transform: uppercase;
}

.services {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin: 0;
}

.services-title {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin: 0;
}

.services-description {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin: 0;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin: 0;
}

.services-catalog {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin: 0;
}

.appointment {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin: 0;
}

.appointment-date {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin: 0;
  font-family: "PT Sans";
  font-size: 30px;
  line-height: 36px;
  font-weight: 700px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.subscribe {
  height: 100px;
  line-height: 30px;
  text-align: center;
  width: 200px;
  margin: 0 auto;
}

.subscribe-form {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin: 0;
}

.subscribe-catalog {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin: 0;
}

.divider {
  background-image: url("../images/divider.svg");
  background-repeat: no-repeat;
}

.home {
  background-image: url("../images/logofoot.jpeg");
  background-repeat: no-repeat;
}

.page-header {
  color: #000000;
  background-color: #f2f2f2;
}

.navigation {
  display: ;
  width: px;
  margin: ;
}

.navigation-link {
  font-family: "PT Sans";
  line-height: px;
  font-weight: 00;
  text-align: center;
  color: #000000;
  background-color: #f2f2f2;
  text-decoration: none;
  text-transform: uppercase;
}

.subscribe-form {
  height: 100px;
  line-height: 30px;
  text-align: center;
  width: 200px;
  margin: 0 auto;
}

.main-container {
  flex-grow: 1;
}

.main-index {
  color: #000000;
  background-color: #f2f2f2;
  background-image: url();
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.main-inner {
  color: #;
  background-color: #;
  background-image: url("");
}

.index-columns {
  color: #;
  background-color: ;
  background-image: url("");
}

.text-sedona {
  font-family: "PT Sans";
  line-height: 26px;
  font-weight: 400px;
  font-size: 22px;
  text-align: center;
  color: #000000;
  background-color: #f2f2f2;
  text-decoration: none;
  text-transform: normal;
}

.sedona-title {
  font-family: "PT Sans";
  line-height: px;
  font-weight: 00;
  text-align: center;
  color: #000000;
  background-color: #f2f2f2;
  text-decoration: none;
  text-transform: uppercase;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin: 0;
}

.contacts {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin: 0;
}

.page-footer {
  display: ;
  flex-wrap: ;
  padding-left: 0;
  margin: 0;
  font-size: ;
  font-weight: ;
  color: #;
  background-color: #;
  background-image: url("");
  background-repeat: ;
}

.logo-foot {
  background-image: url("../images/logofoot.jpeg");
  background-repeat: no-repeat;
}

.footer-social-item-vk {
  background-image: url("../images/social-2.svg");
  background-repeat: no-repeat;
}

  .footer-social-item-tg {
    background-image: url("../images/social-3.svg");
    background-repeat: no-repeat;
  }

    .footer-social-item-yt {
      background-image: url("../images/social-1.svg");
      background-repeat: no-repeat;
    }

    .calendar {
      background-image: url("../images/calendar.svg");
      background-repeat: no-repeat;
    }

    .modal {
      position: relative;
      margin: auto;
      padding: 40px;
      background-color: #ffffff;
    }

    .modal.auth {
      width: 200px;
    }

    .modal-close-button {
      position: absolute;
      padding: 0;
      top: 0;
      right: 0;
      width: 56px;
      height: 44px;
      background-color: #ffffff;
      border: none;
      background-image: url("../images/close.svg");
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
    }

    .modal-title {
      margin: 0;
      margin-bottom: 24px;
      font-family: "PT Sans", sans-serif;
      font-size: 30px;
      line-height: 36px;
      font-weight: 700px;
      color: #000000;
      text-transform: uppercase;
    }
